@import "tailwindcss";

main { 
   display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "upgrades upgrades upgrades upgrades"
    "customers_payment  customers_payment  customers_payment  toppings"
    "customers_payment  customers_payment  customers_payment  toppings"
    "customers_payment  customers_payment  customers_payment  toppings";
}

.customers_payment  { 
  background-image: url("/src/images/Pizza_counter.jpg");
  background-color: #cccccc;
  grid-area: customers_payment ;
 }

.upgrades { 
  background-image: url("/src/images/photo-1505771215590-c5fa0aec29b8.jpeg");
  background-color: #cccccc;
  grid-area: upgrades; 
}

.toppings { 
  background-image: url("/src/images/light-black-background-lq462969zhekzd0g.jpg");
  background-color: #cccccc;
  grid-area: toppings; 
}



body {
  font-family: 'Merriweather Variable', serif;
}
#pointCounter{
  display: inline-block;
  background-color: #000000; /* green background */
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
margin: 20px;
width: 150px;
height: 100px;
border: 1px solid #333;
}
